@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(242, 241, 240);
  --foreground: rgb(21, 21, 21);
}

.grid-area-container {
  display: grid;
  grid-template-areas:
    "nav nav"
    "sidebar main"
    "sidebar footer";
  grid-template-rows: auto 1fr;
  grid-template-columns: 200px 1fr; /* Ajusta el ancho del sidebar */
  height: 100vh; /* Para que ocupe toda la pantalla */
}

.nav {
  grid-area: nav;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.main {
  grid-area: main;
  background-color: var(--background);
  border-top-left-radius: 2rem;
  padding: 1rem;
}

.footer {
  grid-area: footer;
  padding: 1rem;
}

@media (max-width: 768px) {
  .grid-area-container {
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
  }
}

/* Animacion para las notas */
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.4s ease-out forwards;
}
